@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@keyframes bounceText {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -1px);
  }
}