$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$poppins: 'Poppins', sans-serif;
$lexend: 'Lexend', sans-serif;
$inter: 'Inter', sans-serif;

$themes: (
  black: (
    background: hsl(0, 0%, 10%),
    subcontainer: hsl(from hsl(0, 0%, 10%) h s calc(l + 5)),
    primary: hsl(from hsl(0, 0%, 10%) h s calc(l + 10)),
    border: hsl(from hsl(0, 0%, 10%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  red: (
    background: hsl(0, 70%, 60%),
    subcontainer: hsl(from hsl(0, 70%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(0, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(0, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  orange: (
    background: hsl(25, 80%, 60%),
    subcontainer: hsl(from hsl(25, 80%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(25, 80%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(25, 80%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  yellow: (
    background: hsl(40, 70%, 60%),
    subcontainer: hsl(from hsl(40, 70%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(40, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(40, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  green: (
    background: hsl(130, 40%, 50%),
    subcontainer: hsl(from hsl(130, 40%, 50%) h s calc(l + 5)),
    primary: hsl(from hsl(130, 40%, 50%) h s calc(l + 10)),
    border: hsl(from hsl(130, 40%, 50%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  blue: (
    background: hsl(200, 70%, 60%),
    subcontainer: hsl(from hsl(200, 70%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(200, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(200, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  purple: (
    background: hsl(245, 50%, 60%),
    subcontainer: hsl(from hsl(245, 50%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(245, 50%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(245, 50%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  pink: (
    background: hsl(300, 35%, 60%),
    subcontainer: hsl(from hsl(300, 35%, 60%) h s calc(l + 5)),
    primary: hsl(from hsl(300, 35%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(300, 35%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
);

:root {
  @each $key, $map in $themes {
    @if $key == light {
      @each $name, $value in $map {
        --#{$name}: #{$value};
      }
    }
  }
}

@each $theme, $map in $themes {
  [data-theme="#{$theme}"] {
    @each $name, $value in $map {
      --#{$name}: #{$value};
    }
  }
}

// default colors
$white: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 16%);
$gray: hsl(0, 0%, 50%);

// custom cursors
$defaultcursor: url('/assets/cursor-default.cur'), auto !important;
$pointercursor: url('/assets/cursor-pointer.cur'), pointer !important;
$textcursor: url('/assets/cursor-text.cur'), text !important;
$grabcursor: url('/assets/cursor-scroll.cur'), grab !important;