$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$poppins: 'Poppins', sans-serif;
$lexend: 'Lexend', sans-serif;
$inter: 'Inter', sans-serif;

$themes: (
  white: (
    background: hsl(0, 0%, 90%),
    primary: hsl(from hsl(0, 0%, 90%) h s calc(l - 10)),
    border: hsl(from hsl(0, 0%, 90%) h s calc(l - 15)),
    text: hsl(0, 0%, 10%),
  ),
  black: (
    background: hsl(0, 0%, 10%),
    primary: hsl(from hsl(0, 0%, 10%) h s calc(l + 10)),
    border: hsl(from hsl(0, 0%, 10%) h s calc(l + 15)),
    text: hsl(0, 0%, 90%),
  ),
  red: (
    background: hsl(0, 70%, 60%),
    primary: hsl(from hsl(0, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(0, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  orange: (
    background: hsl(25, 80%, 60%),
    primary: hsl(from hsl(25, 80%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(25, 80%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  yellow: (
    background: hsl(40, 70%, 60%),
    primary: hsl(from hsl(40, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(40, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  green: (
    background: hsl(130, 40%, 50%),
    primary: hsl(from hsl(130, 40%, 50%) h s calc(l + 10)),
    border: hsl(from hsl(130, 40%, 50%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  blue: (
    background: hsl(200, 70%, 60%),
    primary: hsl(from hsl(200, 70%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(200, 70%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  purple: (
    background: hsl(245, 50%, 60%),
    primary: hsl(from hsl(245, 50%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(245, 50%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
  pink: (
    background: hsl(300, 35%, 60%),
    primary: hsl(from hsl(300, 35%, 60%) h s calc(l + 10)),
    border: hsl(from hsl(300, 35%, 60%) h s calc(l + 15)),
    text: hsl(0, 0%, 10%),
  ),
);

:root {
  @each $key, $map in $themes {
    @if $key == light {
      @each $name, $value in $map {
        --#{$name}: #{$value};
      }
    }
  }
}

@each $theme, $map in $themes {
  [data-theme="#{$theme}"] {
    @each $name, $value in $map {
      --#{$name}: #{$value};
    }
  }
}