.container {
  background: var(--primary);
  width: 100%;
  flex: 1;
  border: 5px solid var(--border);
  border-radius: calc($padding + $inner-radius);
  padding: $padding;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  gap: $padding;
  position: relative;

  @include responsive("tablet") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1.5fr auto 3fr auto;
  }

  @include responsive("mobile") {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1.5fr 2.5fr 1.5fr 4fr auto 3fr auto;
  }

  & > * {
    border-radius: $inner-radius;
    border: 2px solid var(--border);
    background: var(--subcontainer);
  }
}